.highlight {
    margin-top: -20%;
}

body{
    background-color:#EEF4F9;
}

.toolbar {
    background-color: white;
}

.main {
    margin: 20px;
}

.separateButton {
    margin-right: 3.5%;
}

.padder {
    margin-left: 3.5%;
    padding-bottom: 2.5%;
}
.muidocs-icon-custom-github:before {
    content: "\e625";
}
